# Dependencies
node_modules/

# Build output
.next/
out/
build/
dist/

# Cache
.cache/

# Logs
*.log

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
.DS_Store
*.pem

# Ignore all jsconfig.json files
jsconfig.json

# IDE
.vscode/
.idea/

